html, body {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
}

/* testing testing */

header {
	background: url("../img/forest.jpg");
	background-size: auto 100%;
	opacity: 0.8;
	background-position: center top;
	height: 80%;
	max-height: 700px;
	width: 100%;
}

.inside-header {
	background: linear-gradient(to bottom, rgba(96, 119, 109,1) 0%, rgba(96, 119, 109,0) 100%);
	height: 100%;
}

.main-nav li,
.brand-name {
	margin-right: 1%;
	height: 46px;
	line-height: 46px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.1em;
	white-space: nowrap;
}

.main-nav li a,
.brand-name,
#mobile-menu li a {
	color: #FF8B6C;
}

.main-nav li a:hover,
.main-nav li a:focus,
.brand-name:hover,
#mobile-menu li a:hover,
#mobile-menu li a:focus {
	color: #FEEED5;
	text-decoration: none;
}

#closed-icon a {
  font-size: 30px;
  color: #FF8B6C;
}

#open-icon {
  display:none;
}

#open-icon a {
  font-size: 35px;
  color: #FF8B6C;
}

#open-icon:hover a,
#closed-icon:hover a {
	color: #FEEED5;
	text-decoration: none;
}

#mobile-menu {
  position: relative;
  top: 20px;
  
  display:none;
}

#mobile-menu ul{
  padding: 0;
}

#mobile-menu li {
	list-style: none;
	font-size: 1.1em;
}

#desktop-menu {
	visibility: visible;
	clear: none;
	float: none;
	display: inline;
}
#mobile-menu-wrapper {
	visibility: hidden;
	clear: both;
	float: left;
	width: 28%;
	display: none;
}
@media screen and (max-width: 600px) {
	#desktop-menu {
		visibility: hidden;
		clear: both;
		float: left;
		width: 28%;
		display: none;
	}
	#mobile-menu-wrapper {
		visibility: visible;
		clear: none;
		float: none;
		width: 28%;
		display: inline;
	}
}

.brand-name {
	letter-spacing: 1px;
	margin: 0;
}

.btn-primary {
	background: none;
	border: solid 2px #FF8B6C;
	font-size: 2em;
	color: #FF8B6C;
}

.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	background: #FEEED5;
	border: solid 2px #FF8B6C;
	color: #FF8B6C;
}

header h1 {
	margin-top: 60px;
	margin-bottom: 30px;
	color: #FEEED5;
	font-size: 5em;
}

@media (max-width: 980px) {
    header h1 {
		font-size: 1.5em;
	}
}

.taglines {
	display: inline-block;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#services {
	background: #FEEED5;
}

.service-img {
	max-width:100%;
	max-height:100%;
}

.service-icon {
	font-size: 5em;
	color: #FF8B6C;
}

#about {
	background: #FF9C5F;
}

#process {
	background: #5FA292;
}

#quote {
	background: #FEEED5;
}

#contact {
	background: #558188;
}

#footer {
	background: #FEEED5;
}

.large-icon {
	font-size: 3em;
	margin-left: 10px;
}

.large-icon:hover {
	text-decoration: none;
}

#footer hr {
    border: 0;
    height: 1px;
    background: rgb(66,66,66);
    background: linear-gradient(to right, rgba(66,66,66,0), rgba(66,66,66,0.6), rgba(66,66,66,0));
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}


.offer-card {
	height: 100%;
	padding: 0 5px 0 5px;
}

.offer-card-inner {
	background: #558188;
	border-radius: 10px;
}

.popular-offer-card {
	
}

.popular-offer-card div {
	background: #5FA292;
}

/**************
Pricing
**************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,800,700&subset=latin,cyrillic-ext);

@font-face {
    font-family: 'exo_2.0black';
    src: url('../fonts/exo2.0-black.eot');
    src: url('../fonts/exo2.0-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-black.woff') format('woff'),
         url('../fonts/exo2.0-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0black_italic';
    src: url('../fonts/exo2.0-blackitalic.eot');
    src: url('../fonts/exo2.0-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-blackitalic.woff') format('woff'),
         url('../fonts/exo2.0-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0bold';
    src: url('../fonts/exo2.0-bold.eot');
    src: url('../fonts/exo2.0-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bold.woff') format('woff'),
         url('../fonts/exo2.0-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0bold_italic';
    src: url('../fonts/exo2.0-bolditalic.eot');
    src: url('../fonts/exo2.0-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bolditalic.woff') format('woff'),
         url('../fonts/exo2.0-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0extra_bold';
    src: url('../fonts/exo2.0-extrabold.eot');
    src: url('../fonts/exo2.0-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabold.woff') format('woff'),
         url('../fonts/exo2.0-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0extra_bold_italic';
    src: url('../fonts/exo2.0-extrabolditalic.eot');
    src: url('../fonts/exo2.0-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabolditalic.woff') format('woff'),
         url('../fonts/exo2.0-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('../fonts/exo2.0-extralight.eot');
    src: url('../fonts/exo2.0-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralight.woff') format('woff'),
         url('../fonts/exo2.0-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0extra_light_italic';
    src: url('../fonts/exo2.0-extralightitalic.eot');
    src: url('../fonts/exo2.0-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralightitalic.woff') format('woff'),
         url('../fonts/exo2.0-extralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0italic';
    src: url('../fonts/exo2.0-italic.eot');
    src: url('../fonts/exo2.0-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-italic.woff') format('woff'),
         url('../fonts/exo2.0-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0light';
    src: url('../fonts/exo2.0-light.eot');
    src: url('../fonts/exo2.0-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-light.woff') format('woff'),
         url('../fonts/exo2.0-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0light_italic';
    src: url('../fonts/exo2.0-lightitalic.eot');
    src: url('../fonts/exo2.0-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-lightitalic.woff') format('woff'),
         url('../fonts/exo2.0-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0medium';
    src: url('../fonts/exo2.0-medium.eot');
    src: url('../fonts/exo2.0-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-medium.woff') format('woff'),
         url('../fonts/exo2.0-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0medium_italic';
    src: url('../fonts/exo2.0-mediumitalic.eot');
    src: url('../fonts/exo2.0-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-mediumitalic.woff') format('woff'),
         url('../fonts/exo2.0-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0regular';
    src: url('../fonts/exo2.0-regular.eot');
    src: url('../fonts/exo2.0-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-regular.woff') format('woff'),
         url('../fonts/exo2.0-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0semi_bold';
    src: url('../fonts/exo2.0-semibold.eot');
    src: url('../fonts/exo2.0-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibold.woff') format('woff'),
         url('../fonts/exo2.0-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0semi_bold_italic';
    src: url('../fonts/exo2.0-semibolditalic.eot');
    src: url('../fonts/exo2.0-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibolditalic.woff') format('woff'),
         url('../fonts/exo2.0-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0thin';
    src: url('../fonts/exo2.0-thin.eot');
    src: url('../fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thin.woff') format('woff'),
         url('../fonts/exo2.0-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0thin_italic';
    src: url('../fonts/exo2.0-thinitalic.eot');
    src: url('../fonts/exo2.0-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thinitalic.woff') format('woff'),
         url('../fonts/exo2.0-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.title {
    font-size: 3em;
    font-family: Open Sans;
    color:#555;
    text-align: center;
    height:2em;
    line-height: 2em;
    font-weight: 100;
    text-transform: uppercase;
}

/* Colorful Pricing Tables*/

#pricing {
    position:relative;
    width:100%;
    margin:0em auto;
    cursor: default;
    user-select: none;
	overflow:hidden;
}

#pricing ul {
    position: relative;
    width:25%;
    min-width: 15.25em;
    list-style: none;
    float: left;
    font-family: Open Sans;
    box-sizing: border-box;
    overflow:hidden;
}

#pricing ul li{
    color:#eee;
    text-align: center;
    overflow:hidden;
}

/* mobile */
@media screen and (max-width:1100px){
    
#pricing {width: 100%;}
    
#pricing ul {
    position: relative;
    width:50%;
    min-width: 15.25em;
    list-style: none;
    float: left;
    font-family: Open Sans;
    box-sizing: border-box;
}
    
}

@media screen and (max-width:560px){
    
#pricing {width: 100%;}
    
#pricing ul {
    position: relative;
    width:100%;
    min-width: 15.25em;
    list-style: none;
    float: left;
    font-family: Open Sans;
    box-sizing: border-box;
}
    
}

#pricing .basic{
    position: relative;
    background: #005C5A;
}

#pricing .premium{
    position: relative;
    background: #199C7B;
}

#pricing .plus{
    position: relative;
    background: #F37100;
}

#pricing .business{
    position: relative;
    background: #ED4D13;
}

#pricing ul .icon{
    position: relative;
    height:10em;
    width: 10em;
    margin:1em auto;
}

#pricing .basic .icon:before{
    position: absolute;
    top: .8em;
    bottom: 0;
    left: -0.15em;
    right: 0;
    margin: auto;
    content:'\f1d8';
    font-family: FontAwesome;
    font-size: 4em;
}

#pricing .premium .icon:before{
    position: absolute;
    top: .9em;
    bottom: 0;
    left: 0.05em;
    right: 0;
    margin: auto;
    content:'\f108';
    font-family: FontAwesome;
    font-size: 4em;
}

#pricing .plus .icon:before{
    position: absolute;
    top: .75em;
    bottom: 0;
    left: 0em;
    right: 0;
    margin: auto;
    content:'\f087';
    font-family: FontAwesome;
    font-size: 4em;
}

#pricing .business .icon:before{
    position: absolute;
    top: .75em;
    bottom: 0;
    left: -0.1em;
    right: 0;
    margin: auto;
    content:'\f135';
    font-family: FontAwesome;
    font-size: 4em;
}

#pricing ul .name{
    height:2em;
    line-height: 2em;
}

#pricing ul .name h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.75);
}


#pricing ul .price-col{
    height:1.5em;
    line-height: 1.25em;
    font-size: 4em;
    font-family: 'exo_2.0extra_light';
    color: rgba(255, 255, 255, 0.75);
}

#pricing ul .price-col .cost{
    position: relative;
    width: 100%;
    height:100%;
}

#pricing ul .price-col .cost .valuta{
    position:relative;
    font-size: 0.5em;
    font-weight: 400;
    display: inline-table;
    vertical-align: super;
}

#pricing ul .description-range{
    height:2em;
    line-height: 2em;
}

#pricing ul .purchase{
    height: 3em;
    line-height: 3em;
}

#pricing ul .purchase a{
    position: relative;
    padding:0.5em;
    border:4px solid #efefef;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -mos-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#pricing ul .purchase a{
    color:#fff;
    background:#005C5A;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(239, 239, 239, 1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(239, 239, 239, 1);
    box-shadow:         inset 0px 0px 0px 0px rgba(239, 239, 239, 1);
}

#pricing .premium .purchase a{
    color:#fff;
    background:#199C7B;
}

#pricing .plus .purchase a{
    color:#fff;
    background:#F37100;
}

#pricing .business .purchase a{
    color:#fff;
    background:#ED4D13;
}

#pricing ul .purchase a:hover{
    color:#005C5A;
    -webkit-box-shadow: inset 0px -40px 0px 0px rgba(239, 239, 239, 1);
    -moz-box-shadow:    inset 0px -40px 0px 0px rgba(239, 239, 239, 1);
    box-shadow:         inset 0px -40px 0px 0px rgba(239, 239, 239, 1);
}

#pricing .premium .purchase a:hover{
    color:#199C7B;
}

#pricing .plus .purchase a:hover{
    color:#F37100;
}

#pricing .business .purchase a:hover{
    color:#ED4D13;
}

#pricing ul .purchase:before{
    position: absolute;
    content: '';
    background: #efefef;
    width: 50%;
    height:1em;
    bottom:1em;
    left:25%;
    transition: all 0.25s ease;
}

#pricing ul:hover .purchase:before{
    position: absolute;
    content: '';
    background: #efefef;
    width: 90%;
    height:1em;
    left:5%;
}